@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --black: #4a4a45;
  --dark-blue: #5c687e;
  --blue: #5f77a3;
  --grey: #5b5b52;
  --white: #eceff5;
  --transparent: rgba(0, 0, 0, 0);
}

* {
  font-family: var(--prompt);
  margin: 0;
  padding: 0;
}

html,
body,
main {
  height: 100%;
}

#__next {
  height: 100%;
}

h1 {
  font-weight: 500;
  font-size: 64px;
}

h2 {
  font-weight: 500;
  font-size: 40px;
}

.btn-text {
  font-weight: 400;
  font-size: 16px;
}

.white-text {
  color: var(--white);
}

.blue-text {
  color: var(--blue);
}
